/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inder', sans-serif;
    background: #00500D;
}


.fixed-background {
    position: fixed;
    inset: 0;
    background-color: #000000;
    background-image: url("assets/images/weed-bg.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -2;
}


/* Hero */
.hero {
    width: 100%;
    height: 100vh;
    position: relative;
    background: transparent;
}


/* Header */
.hero-header {
    width: 100%;
    height: 80px;
    padding: 32px 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}


/* Language Selector + Contact Button */
.language-selector,
.contact-button {
    height: 40px;
    padding: 0 16px;
    border-radius: 8px;
    background: #00500D;
    color: #F6FEFF;
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Inder', sans-serif;
    font-size: 14px;
}

.language-selector img,
.contact-button img {
    width: 18px;
    height: 18px;
}


.language-selector img {
    width: 18px;
    height: 18px;
}


/* Center Brand */
.brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}


.brand-logo span {
    font-family: "Italianno", cursive !important;
    color: #F6FEFF;
    font-size: 50px;
    font-weight: 400;
}


.brand-logo img {
    width: 45px;
    height: auto;
}


.brand-logo span {
    font-family: 'Italianno', cursive;
    color: #F6FEFF;
    font-size: 50px;
}


.brand p {
    font-family: 'Sancreek', cursive;
    color: #F6FEFF;
    font-size: 25px;
}


/* Right Actions */
.header-actions {
    display: flex;
    align-items: center;
    gap: 16px;
}


/* Social Icons */
.social-icons {
    display: flex;
    gap: 12px;
}


.icon-frame {
    width: 44px;
    height: 44px;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.icon-frame img {
    width: 24px;
    height: 24px;
}


/* Contact Button */
.contact-button {
    border: none;
    cursor: pointer;
}


.contact-button img {
    width: 18px;
    height: 18px;
}
