/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main Content Container */
.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 40px;
}

html,
body {
    width: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'Inder';
    background: #00500D;
}


/* Fixed Weed Image */
.fixed-background {
    position: fixed;
    top: 0;
    left: 50%;
    height: 100vh;
    width: auto;
    transform: translateX(-50%);
    object-fit: contain;
    z-index: -3;
}


/* Hero */
.hero {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}


/* Smoke Video */
.hero-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -2;
}


/* Header */
.hero-header {
    position: absolute;
    top: 32px;
    left: 40px;
    right: 40px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 80px;
    z-index: 10;
}


/* Language + Contact */
.language-selector {
    height: 40px;
    padding: 0 16px;
    border-radius: 8px;
    background: #00500D;
    color: #F6FEFF;
    border: 1px solid #568360;
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Inder', sans-serif;
    font-size: 14px;
}

.language-selector img,
.contact-button img {
    width: 18px;
    height: 18px;
}


/* Brand */
.brand {
    position: absolute;
    left: 50%;
    bottom: -2;
    transform: translateX(-50%);
    text-align: center;
    z-index: 10;
}


.brand-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
}


.brand-logo img {
    width: 80px;
    height: auto;
}


.brand-logo span {
    font-family: 'Italianno', cursive;
    color: #F6FEFF;
    font-size: 50px;
    font-weight: 400;
}


.brand p {
    font-family: 'Sancreek', cursive;
    color: #F6FEFF;
    font-size: 25px;
}


/* Right Actions */
.header-actions {
    display: flex;
    align-items: center;
    gap: 16px;
}


/* Social Icons */
.social-icons {
    display: flex;
    gap: 12px;
}


.icon-frame {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.icon-frame img {
    width: 24px;
    height: 24px;
}


/* Contact Button */
.contact-button {
    height: 40px;
    padding: 0 16px;
    border-radius: 8px;
    background: #00500D;
    color: #F6FEFF;
    border: 1px solid #568360;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact-button img {
    width: 18px;
    height: 18px;
}

/* Weed Carousel */

.weed-carousel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    align-items: center;
    justify-content: space-between;

    z-index: 5;
}

/* Carousel Images */

.carousel-image img {
    width: 280px;
    height: auto;
    object-fit: contain;
}


/* Center Text */

.carousel-content {
    width: 500px;
    text-align: left;
}


.carousel-content h1 {
    font-family: 'Sancreek', cursive;
    color: #F6FEFF;
    font-size: 24px;
    margin-bottom: 15px;
}


.carousel-content p {
    font-family: 'Inder', sans-serif;
    color: #F6FEFF;
    font-size: 16px;
    line-height: 1.5;
}


/* Carousel Controls */

.carousel-controls {
    position: absolute;
    top: calc(50% + 250px);
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;

    padding: 10px 14px;
    border-radius: 8px;
}


.carousel-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #F6FEFF;
    opacity: 0.5;
    cursor: pointer;
}


.carousel-dot.active {
    opacity: 1;
}
